{{> components/header }}

{{#if site_data.site.site_view.site.sidebar}}
    <div class="navbar" style="margin-bottom: 10px">
        <div class="inner" style="margin: 10px">
            {{{markdown site_data.site.site_view.site.sidebar}}}
        </div>
    </div>
{{/if}}

<div class="action-bar bar-top">
    <a class="forumtitle" href="/community_list?mode=Subscribed" class="left-box arrow-left">{{{i18n site_data "listing_subscribed"}}}</a> |
    <a class="forumtitle" href="/community_list?mode=Local" class="left-box arrow-left">{{{i18n site_data "listing_local"}}}</a> |
    <a class="forumtitle" href="/community_list?mode=All" class="left-box arrow-left">{{{i18n site_data "listing_all"}}}</a>
    {{> components/pagination }}
</div>

<div class="forabg">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="row-item">
                    <dt><div class="list-inner"><a href="/view_forum?f=1">{{{i18n site_data "header_communities_info"}}}</a></div></dt>
                    <dd class="topics">{{{i18n site_data "header_topics_count"}}}</dd>
                    <dd class="posts">{{{i18n site_data "header_replies_count"}}}</dd>
                    <dd class="lastpost"><span>{{{i18n site_data "view_latest_reply"}}}</span></dd>
                </dl>
            </li>
        </ul>
        <ul class="topiclist forums">

            {{#each communities}}
                <li class="row">
                    <dl class="row-item forum_read">
                        <dt>
                            <div class="list-inner">
                                <a href="/view_forum?f={{this.community.id}}" class="forumtitle">{{{community_actor_id this.community}}}</a>
                                <br>
                                <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}">
                                    {{this.community.description}}
                                </p>
                            </div>
                        </dt>
                        <dd class="topics">{{this.counts.posts}} <dfn>{{{i18n ../site_data "header_topics_count"}}}</dfn></dd>
                        <dd class="posts">{{this.counts.comments}} <dfn>{{{i18n ../site_data "header_replies_count"}}}</dfn></dd>
                        <dd class="lastpost">
                            {{#if lookup ../last_replies @index}}
                                {{#with lookup ../last_replies @index}}
                                    <span>
                            <dfn>{{{i18n ../site_data "header_last_comment"}}}</dfn>
                            <a href="/view_topic?t={{this.post_id}}#p{{this.reply_id}}" title="{{this.title}}" class="lastsubject">{{this.title}}</a> <br>
                            by <a href="/view_profile?u={{this.creator.id}}" class="username">{{{user_actor_id this.creator}}}</a>
                                        <a href="/view_topic?t={{this.post_id}}#p{{this.reply_id}}">
                            <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{{{i18n ../site_data "view_latest_comment"}}}</span>
                                        </a>
                                        <br><time datetime="{{timestamp_machine this.time}}">{{timestamp_human this.time}}</time>
                        </span>
                                {{/with}}
                            {{/if}}
                        </dd>
                    </dl>
                </li>
            {{/each}}

        </ul>

    </div>
</div>

<div class="action-bar bar-bottom">
    {{> components/pagination }}
</div>

{{> components/footer }}