{{> components/header }}

        <h2 class="searchresults-title">Search found {{search_results_count}} matches: <a href="./search?keywords={{keywords}}">{{keywords}}</a></h2>
        <p>Searched query: <strong>{{keywords}}</strong></p>


        <div class="action-bar bar-top">
            <div class="pagination">
                Search found {{search_results_count}} matches
                &bull; Page <strong>1</strong> of <strong>1</strong>
            </div>
        </div>

        {{#if search_results.communities search_results.users}}
        <div class="search post bg1">
                <ul>
                {{#each search_results.communities}}
                    <li>
                        <a href="/viewforum?f={{this.community.id}}">{{community_actor_id this.community}}</a>
                    </li>
                {{/each}}
                {{#each search_results.users}}
                    <li>
                        <a href="/viewforum?f={{this.person.id}}">{{user_actor_id this.person}}</a>
                    </li>
                {{/each}}
                </ul>
        </div>
        {{/if}}

        {{#each search_results.posts}}
        <div class="search post bg{{sum (mod @index 2) 1}}">
            <div class="inner">

                <dl class="postprofile">
                    <dt class="author">by <a href="/view_profile?u={{this.creator.id}}" class="username">{{{user_actor_id this.creator}}}</a></dt>
                    <dd class="search-result-date">{{{timestamp_human this.creator.published}}}</dd>
                    <dd>Forum: <a href="viewforum?f={{this.community.id}}">{{{community_actor_id this.community}}}</a></dd>
                    <dd>Topic: <a href="viewtopic?t={{this.post.id}}">{{this.post.name}}</a></dd>
                    <dd>Replies: <strong>{{this.counts.comments}}</strong></dd>
                </dl>

                <div class="postbody">
                    <h3><a href="/viewtopic?t={{this.post.id}}#p1">{{this.post.name}}</a></h3>
                    <div class="content">
                    {{#if this.post.url}}
                        {{#if is_image_url}}
                            <img src="{{this.post.url}}" />
                            <br />
                            <br />
                        {{else}}
                            <a href="{{this.post.url}}">{{this.post.url}}</a>
                            <br />
                            <br />
                        {{/if}}
                    {{/if}}
                    {{{markdown this.post.body}}}
                    </div>
                </div>

                <ul class="searchresults">
                    <li>
                        <a href="/viewtopic?t={{this.post.id}}#p1" class="arrow-right">
                            <i class="icon fa-angle-right fa-fw icon-black" aria-hidden="true"></i><span>Jump to post</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        {{/each}}

        {{#each search_results.comments}}
        <div class="search post bg{{sum (mod @index 2) 1}}">
            <div class="inner">

                <dl class="postprofile">
                    <dt class="author">by <a href="/view_profile?u={{this.creator.id}}" class="username">{{{user_actor_id this.creator}}}</a></dt>
                    <dd class="search-result-date">{{{timestamp_human this.creator.published}}}</dd>
                    <dd>Forum: <a href="/viewforum?f={{this.community.id}}">{{{community_actor_id this.community}}}</a></dd>
                    <dd>Topic: <a href="/viewtopic?t={{this.post.id}}">{{this.post.name}}</a></dd>
                    <dd>Replies: <strong>?</strong></dd>
                </dl>

                <div class="postbody">
                    <h3><a href="/viewtopic?t={{this.post.id}}#p2"><span class="posthilit">test</span> post</a></h3>
                    <div class="content">{{{markdown this.comment.content}}}</div>
                </div>

                <ul class="searchresults">
                    <li>
                        <a href="/viewtopic?t={{this.post.id}}#p2" class="arrow-right">
                            <i class="icon fa-angle-right fa-fw icon-black" aria-hidden="true"></i><span>Jump to post</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        {{/each}}

        {{#unless search_results_count}}
            <div class="panel">
                <div class="inner">
                    <strong>No suitable matches were found.</strong>
                </div>
            </div>
        {{/unless}}

        <div class="action-bar bottom">
            <div class="pagination">
                Search found {{search_results_count}} matches
                &bull; Page <strong>1</strong> of <strong>1</strong>
            </div>
        </div>

{{> components/footer }}