{{> components/header }}

<form id="register" method="post" action="./setup">

    <div class="panel">
        <div class="inner">

            <h2>Register admin account</h2>

            <fieldset class="fields2">
                <dl>
                    <dt><label for="username">{{{i18n site_data "username"}}}</label><br /><span>{{{i18n site_data "username_length_hint"}}}</span></dt>
                    <dd><input type="text" tabindex="1" name="username" size="25" value="" class="inputbox autowidth" /></dd>
                </dl>
                <dl>
                    <dt><label for="password">{{{i18n site_data "password"}}}</label><br /><span>{{{i18n site_data "password_length_hint"}}}</span></dt>
                    <dd><input type="password" tabindex="2" name="password" size="25" value="" class="inputbox autowidth" autocomplete="off" /></dd>
                </dl>
                <dl>
                    <dt><label for="password_verify">{{{i18n site_data "confirm_password"}}}</label></dt>
                    <dd><input type="password"  tabindex="3" name="password_verify" size="25" value="" class="inputbox autowidth" autocomplete="off" /></dd>
                </dl>
                <dl>
                    <dt>
                        <label for="email">{{{i18n site_data "email_address"}}}</label><br />
                        <span>{{{i18n site_data "optional"}}}</span>
                    </dt>
                    <dd><input type="email" tabindex="4" name="email" size="25" maxlength="100" value="" class="inputbox autowidth" autocomplete="off" /></dd>
                </dl>
                <dl>
                    <dt><label for="email">{{{i18n site_data "show_adult_content"}}}</label></dt>
                    <dd><input type="checkbox" tabindex="5" name="show_nsfw" size="25" maxlength="100" value="" class="inputbox autowidth" /></dd>
                </dl>

                <hr />

            </fieldset>
        </div>
    </div>
    <div class="panel">
        <div class="inner">

            <h2>{{{i18n site_data "site_configuration_title"}}}</h2>

            <fieldset class="fields2">
                <dl>
                    <dt><label for="site_name">{{{i18n site_data "site_name"}}}</label></dt>
                    <dd><input type="text" tabindex="7" name="site_name" size="25" value="" class="inputbox autowidth" /></dd>
                </dl>
                <dl>
                    <dt><label for="site_description">{{{i18n site_data "site_description"}}}</label><span>{{{i18n site_data "optional"}}}</span></dt>
                    <dd><input type="text" tabindex="8" name="site_description" size="25" value="" class="inputbox autowidth" /></dd>
                </dl>
            </fieldset>

        </div>
    </div>

    <div class="panel">
        <div class="inner">

            <fieldset class="submit-buttons">
                <input type="submit" tabindex="10" name="submit" id="submit" value="{{{i18n site_data "form_submit"}}}" class="button1 default-submit-action" />
            </fieldset>

        </div>
    </div>
</form>

{{> components/footer }}