{{> components/header }}

        {{> components/user_control_panel_tabs pm_active=1 }}

        <div class="panel bg3">
            <div class="inner">

                    <div id="cp-main" class="cp-main ucp-main panel-container" style="width: 100%;">

                        <div class="panel">
                            <div class="inner">
                                <div class="action-bar bar-top">

                                    <div class="pagination">
                                        <form action="/mark_all_notifications_read" method="POST">
                                            <a href="#" onclick="this.parentNode.submit()"><span>Mark all as read</span></a>
                                            &bull; {{{length private_message_threads}}} threads
                                            &bull; Page <strong>1</strong> of <strong>1</strong>
                                        </form>
                                    </div>
                                </div>

                                <ul class="topiclist two-columns">
                                    <li class="header">
                                        <dl>
                                            <dt><div class="list-inner">Message</div></dt>
                                        </dl>
                                    </li>
                                </ul>
                                <ul class="topiclist cplist pmlist responsive-show-all missing-column">

                                    {{#each private_message_threads}}
                                    <li class="row bg2">
                                        <dl class="row-item {{#if this.read}}pm_read{{else}}pm_unread{{/if}}">
                                            <dt>
                                                <div class="list-inner">

                                                    <a href="/private_messages_thread?u={{this.other_participant.id}}" class="topictitle">{{{user_actor_id this.other_participant}}}</a>
                                                </div>
                                            </dt>
                                            <dd class="info"><span>Last message: {{{timestamp_human this.last_message}}}</span></dd>
                                        </dl>
                                    </li>
                                    {{/each}}

                                </ul>

                                <div class="action-bar bottom">

                                    <div class="pagination">
                                        {{{length private_message_threads}}} threads
                                        &bull; Page <strong>1</strong> of <strong>1</strong>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
            </div>
        </div>

{{> components/footer }}