{{> components/header }}

<h2 class="posting-title"><a href="/view_topic?t={{post.post_view.post.id}}">{{post.post_view.post.name}}</a></h2>

{{> components/editor_form editor_title=(i18n site_data "post_reply")}}

<h3 id="review" class="review">
    <span class="right-box"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == 'Expand\u0020view'){rev_text.data = 'Collapse\u0020view'; } else if (rev_text.data == 'Collapse\u0020view'){rev_text.data = 'Expand\u0020view'};">{{{i18n site_data "expand_view"}}}</a></span>
    {{{i18n site_data "topic_review_title" post.post_view.post.name }}}
</h3>

<div id="topicreview" class="topicreview">
    {{#each post.comments}}
        {{> components/comment site_data=../site_data hide_author=true all_comments=../all_comments }}
    {{/each}}
    {{log (len post.comments)}}
    {{#unless eq (len post.comments) 20}}
        {{> components/post hide_author=true }}
    {{/unless}}
</div>

{{> components/footer }}
