<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ site.site_view.site.name }}</title>

    <!--
        phpBB style name: prosilver
        Based on style:   prosilver (this is the default phpBB3 style)
        Original author:  Tom Beddard ( http://www.subBlue.com/ )
        Modified by:
    -->

    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/styles/prosilver/stylesheet.css" rel="stylesheet" />
    <link id="favicon" rel="icon" rel="shortcut icon" type="image/x-icon" href={{site.site_view.site.icon}} />
</head>
<body id="phpbb" class="nojs notouch section-viewforum ltr">
<div id="wrap" class="wrap">
    <a id="top" class="top-anchor" accesskey="t"></a>
    <div id="page-header">
        <div class="headerbar" role="banner">
            <div class="inner">
                <div id="site-description" class="site-description">
                    <a id="logo" class="logo" href="./" title="Board index">
                        <span class="site_logo"></span>
                    </a>
                    <h1>{{ site.site_view.site.name }}</h1>
                    {{#if site.site_view.site.description }}
                        <p>{{ site.site_view.site.description }}</p>
                    {{/if}}
                </div>

                <div id="search-box" class="search-box search-header" role="search">
                    <form action="./search.php" method="get" id="search">
                        <fieldset>
                            <input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…" />
                            <button class="button button-search" type="submit" title="Search"><i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span></button>
                            <a href="./search.php" class="button button-search-end" title="Advanced search"> <i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span> </a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="navbar" role="navigation">
            <div class="inner">
                <ul id="nav-main" class="nav-main linklist" role="menubar">
                    <li id="quick-links" class="quick-links dropdown-container responsive-menu" data-skip-responsive="true">
                        <a href="#" class="dropdown-trigger"> <i class="icon fa-bars fa-fw" aria-hidden="true"></i><span>Quick links</span> </a>
                        <div class="dropdown">
                            <div class="pointer"><div class="pointer-inner"></div></div>
                            <ul class="dropdown-contents" role="menu">
                                <li class="separator"></li>
                                <li>
                                    <a href="./search.php?search_id=unanswered" role="menuitem"> <i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>Unanswered topics</span> </a>
                                </li>
                                <li>
                                    <a href="./search.php?search_id=active_topics" role="menuitem"> <i class="icon fa-file-o fa-fw icon-blue" aria-hidden="true"></i><span>Active topics</span> </a>
                                </li>
                                <li class="separator"></li>
                                <li>
                                    <a href="./search.php" role="menuitem"> <i class="icon fa-search fa-fw" aria-hidden="true"></i><span>Search</span> </a>
                                </li>

                                <li class="separator"></li>
                            </ul>
                        </div>
                    </li>

                    <li data-skip-responsive="true">
                        <a href="/33x/app.php/help/faq" rel="help" title="Frequently Asked Questions" role="menuitem"> <i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>FAQ</span> </a>
                    </li>

                    {{#if site.my_user}}
                            <li id="username_logged_in" class="rightside " data-skip-responsive="true">
                                <div class="header-profile dropdown-container">
                                    <a href="./ucp.php" class="header-avatar dropdown-trigger dropdown-toggle">
                                        <span class="username">{{site.my_user.local_user_view.person.name}}</span>
                                    </a>
                                    <div class="dropdown">
                                        <div class="pointer"><div class="pointer-inner"></div></div>
                                        <ul class="dropdown-contents" role="menu">

                                            <li>
                                                <a href="./ucp.php" title="User Control Panel" role="menuitem">
                                                    <i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>User Control Panel</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="./memberlist.php?mode=viewprofile&amp;u=2" title="Profile" role="menuitem">
                                                    <i class="icon fa-user fa-fw" aria-hidden="true"></i><span>Profile</span>
                                                </a>
                                            </li>


                                            <li class="separator"></li>
                                            <li>
                                                <a href="/logout" title="Logout" accesskey="x" role="menuitem">
                                                    <i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="rightside" data-skip-responsive="true">
                                <a href="./ucp.php?i=pm&amp;folder=inbox" role="menuitem">
                                    <i class="icon fa-inbox fa-fw" aria-hidden="true"></i><span>Private messages </span><strong class="badge hidden">0</strong>
                                </a>
                            </li>
                            <li class="dropdown-container dropdown-right rightside" data-skip-responsive="true">
                                <a href="./ucp.php?i=ucp_notifications" id="notification_list_button" class="dropdown-trigger dropdown-toggle">
                                    <i class="icon fa-bell fa-fw" aria-hidden="true"></i><span>Notifications </span><strong class="badge hidden">0</strong>
                                </a>
                                <div id="notification_list" class="dropdown dropdown-extended notification_list">
                                    <div class="pointer"><div class="pointer-inner"></div></div>
                                    <div class="dropdown-contents">
                                        <div class="header">
                                            Notifications
                                            <span class="header_settings">
				<a href="./ucp.php?i=ucp_notifications&amp;mode=notification_options">Settings</a>
							</span>
                                        </div>

                                        <ul>
                                            <li class="no_notifications">
                                                You have no notifications
                                            </li>
                                        </ul>

                                        <div class="footer">
                                            <a href="./ucp.php?i=ucp_notifications"><span>See All</span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    {{else}}
                    <li class="rightside" data-skip-responsive="true">
                        <a href="./login" title="Login" accesskey="x" role="menuitem"> <i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>Login</span> </a>
                    </li>
                        {{#if site.site_view.site.open_registration}}
                        <li class="rightside" data-skip-responsive="true">
                            <a href="./register" role="menuitem"> <i class="icon fa-pencil-square-o fa-fw" aria-hidden="true"></i><span>Register</span> </a>
                        </li>
                        {{/if}}
                    {{/if}}
                </ul>

                <ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
                    <li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope>
                            <a itemprop="item" href="./" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">Board index</span></a><meta itemprop="position" content="1" />
                        </span>
                    </li>

                    <li class="rightside responsive-search">
                        <a href="./search.php" title="View the advanced search options" role="menuitem"> <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <a id="start_here" class="anchor"></a>
    <div id="page-body" class="page-body" role="main">
