{{> components/header }}

    <h2 class="titlespace">{{{i18n site_data "report_post_title"}}}</h2>

    <form method="post" action="{{action}}" id="report">
        <div class="panel">
            <div class="inner">

                <div class="content">
                    <p>{{{i18n site_data "report_post_info"}}}</p>

                    <fieldset>
                        <dl class="fields2">
                            <dt><label for="report_text">{{{i18n site_data "report_post_reason"}}}</label></dt>
                            <dd><textarea name="report_text" id="report_text" rows="10" cols="76" class="inputbox"></textarea></dd>
                        </dl>
                    </fieldset>
                </div>

            </div>
        </div>

        <div class="panel">
            <div class="inner">

                <div class="content">
                    <fieldset class="submit-buttons">
                        <input type="submit" name="submit" class="button1" value="{{{i18n site_data "form_submit"}}}">&nbsp;
                        <input type="submit" name="cancel" class="button2" value="{{{i18n site_data "form_cancel"}}}">

                    </fieldset>
                </div>

            </div>
        </div>
    </form>

{{> components/footer }}
