{{> header }}

        <h2 class="searchresults-title">Search found {{search_results_count}} matches: <a href="./search?keywords={{keywords}}">{{keywords}}</a></h2>
        <p>Searched query: <strong>{{keywords}}</strong></p>
        <p class="advanced-search-link">
            <a class="arrow-left" href="/search" title="Advanced search">
                <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>Go to advanced search</span>
            </a>
        </p>


        <div class="action-bar bar-top">

            <!--
            <div class="search-box" role="search">
                <form method="post" action="./search.php?st=0&amp;sk=t&amp;sd=d&amp;sr=posts&amp;keywords=test">
                    <fieldset>
                        <input class="inputbox search tiny" type="search" name="add_keywords" id="add_keywords" value="" placeholder="Search these results" />
                        <button class="button button-search" type="submit" title="Search">
                            <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
                        </button>
                        <a href="./search.php" class="button button-search-end" title="Advanced search">
                            <i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span>
                        </a>
                    </fieldset>
                </form>
            </div>
            -->

            <div class="pagination">
                Search found {{search_results_count}} matches
                &bull; Page <strong>1</strong> of <strong>1</strong>
            </div>
        </div>

        {{#if search_results.communities search_results.users}}
        <div class="search post bg1">
                <ul>
                {{#each search_results.communities}}
                    <li>
                        <a href="/viewforum?f={{this.community.id}}">{{community_actor_id this}}</a>
                    </li>
                {{/each}}
                {{#each search_results.users}}
                    <li>
                        <a href="/viewforum?f={{this.person.id}}">{{user_actor_id this}}</a>
                    </li>
                {{/each}}
                </ul>
        </div>
        {{/if}}

        {{#each search_results.posts}}
        <div class="search post bg{{sum (mod @index 2) 1}}">
            <div class="inner">

                <dl class="postprofile">
                    <dt class="author">by <a href="./memberlist.php?mode=viewprofile&amp;u=2" class="username">{{this.creator.name}}</a></dt>
                    <dd class="search-result-date">{{{timestamp_human this.creator.published}}}</dd>
                    <dd>Forum: <a href="viewforum?f={{this.community.id}}">{{this.community.title}}</a></dd>
                    <dd>Topic: <a href="viewtopic?t={{this.post.id}}">{{this.post.name}}</a></dd>
                    <dd>Replies: <strong>{{this.counts.comments}}</strong></dd>
                </dl>

                <div class="postbody">
                    <h3><a href="/viewtopic?t={{this.post.id}}#p1">{{this.post.name}}</a></h3>
                    <div class="content">
                    {{#if this.post.url}}
                        {{#if is_image_url}}
                            <img src="{{this.post.url}}" />
                            <br />
                            <br />
                        {{else}}
                            <a href="{{this.post.url}}">{{this.post.url}}</a>
                            <br />
                            <br />
                        {{/if}}
                    {{/if}}
                    {{{markdown this.post.body}}}
                    </div>
                </div>

                <ul class="searchresults">
                    <li>
                        <a href="/viewtopic?t={{this.post.id}}#p1" class="arrow-right">
                            <i class="icon fa-angle-right fa-fw icon-black" aria-hidden="true"></i><span>Jump to post</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        {{/each}}

        {{#each search_results.comments}}
        <div class="search post bg{{sum (mod @index 2) 1}}">
            <div class="inner">

                <dl class="postprofile">
                    <dt class="author">by <a href="./memberlist.php?mode=viewprofile&amp;u=2" class="username">{{this.creator.name}}</a></dt>
                    <dd class="search-result-date">{{{timestamp_human this.creator.published}}}</dd>
                    <dd>Forum: <a href="/viewforum?f={{this.community.id}}">{{this.community.title}}</a></dd>
                    <dd>Topic: <a href="/viewtopic?t={{this.post.id}}">{{this.post.name}}</a></dd>
                    <dd>Replies: <strong>?</strong></dd>
                </dl>

                <div class="postbody">
                    <h3><a href="/viewtopic?t={{this.post.id}}#p2"><span class="posthilit">test</span> post</a></h3>
                    <div class="content">{{{markdown this.comment.content}}}</div>
                </div>

                <ul class="searchresults">
                    <li>
                        <a href="/viewtopic?t={{this.post.id}}#p2" class="arrow-right">
                            <i class="icon fa-angle-right fa-fw icon-black" aria-hidden="true"></i><span>Jump to post</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        {{/each}}

        {{#unless search_results_count}}
            <div class="panel">
                <div class="inner">
                    <strong>No suitable matches were found.</strong>
                </div>
            </div>
        {{/unless}}

        <div class="action-bar bottom">
            <form method="post" action="./search.php?st=0&amp;sk=t&amp;sd=d&amp;sr=posts&amp;keywords=test">
                <div class="dropdown-container dropdown-container-left dropdown-button-control sort-tools">
	<span title="Display and sorting options" class="button button-secondary dropdown-trigger dropdown-select">
		<i class="icon fa-sort-amount-asc fa-fw" aria-hidden="true"></i>
		<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
	</span>
                    <div class="dropdown hidden">
                        <div class="pointer"><div class="pointer-inner"></div></div>
                        <div class="dropdown-contents">
                            <fieldset class="display-options">
                                <label>Display: <select name="st" id="st"><option value="0" selected="selected">All results</option><option value="1">1 day</option><option value="7">7 days</option><option value="14">2 weeks</option><option value="30">1 month</option><option value="90">3 months</option><option value="180">6 months</option><option value="365">1 year</option></select></label>
                                <label>Sort by: <select name="sk" id="sk"><option value="a">Author</option><option value="t" selected="selected">Post time</option><option value="f">Forum</option><option value="i">Topic title</option><option value="s">Post subject</option></select></label>
                                <label>Direction: <select name="sd" id="sd"><option value="a">Ascending</option><option value="d" selected="selected">Descending</option></select></label>
                                <hr class="dashed" />
                                <input type="submit" class="button2" name="sort" value="Go" />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </form>

            <div class="pagination">
                Search found {{search_results_count}} matches
                &bull; Page <strong>1</strong> of <strong>1</strong>
            </div>
        </div>

        <div class="action-bar actions-jump">
            <p class="jumpbox-return">
                <a class="left-box arrow-left" href="/search" title="Advanced search" accesskey="r">
                    <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>Go to advanced search</span>
                </a>
            </p>

            <div class="jumpbox dropdown-container dropdown-container-right dropdown-up dropdown-left dropdown-button-control" id="jumpbox">
			<span title="Jump to" class="button button-secondary dropdown-trigger dropdown-select">
				<span>Jump to</span>
				<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
			</span>
                <div class="dropdown">
                    <div class="pointer"><div class="pointer-inner"></div></div>
                    <ul class="dropdown-contents">
                        <li><a href="./viewforum.php?f=1" class="jumpbox-cat-link"> <span> Your first category</span></a></li>
                        <li><a href="./viewforum.php?f=2" class="jumpbox-sub-link"><span class="spacer"></span> <span>&#8627; &nbsp; Your first forum</span></a></li>
                    </ul>
                </div>
            </div>

        </div>

{{> footer }}