{{> components/header }}

<h2 class="topic-title"><a href="/view_topic?t={{ post.post_view.post.id }}">{{ post.post_view.post.name }}</a></h2>

<div class="action-bar bar-top">
    <a href="./comment_editor?t={{ post.post_view.post.id }}" class="button">
        <span>{{{i18n site_data "post_reply"}}}</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
    </a>

    <p class="jumpbox-return">
        <a href="/view_forum?f={{ post.post_view.post.community_id }}" class="left-box arrow-left" accesskey="r">
            <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>{{{i18n site_data "return_to_forum" post.community_view.community.title}}}</span>
        </a>
    </p>

    {{> components/pagination }}
</div>

{{#if (eq pagination.current_page 1)}}
    {{> components/post }}
{{/if}}

{{#each post.comments}}
    {{> components/comment }}
{{/each}}

<div class="action-bar bar-bottom">
    <a href="./comment_editor?t={{post.post_view.post.id}}" class="button" title="{{{i18n site_data "post_reply"}}}">
        <span>{{{i18n site_data "post_reply"}}}</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
    </a>

    <p class="jumpbox-return">
        <a href="/view_forum?f={{ post.post_view.post.community_id }}" class="left-box arrow-left" accesskey="r">
        <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>{{{i18n site_data "return_to_forum" post.community_view.community.title}}}</span>
        </a>
    </p>

    {{> components/pagination }}
</div>

{{> components/footer }}
