{{> components/header }}

<h2 class="topic-title"><a href="./viewtopic?t={{ post.post_view.post.id }}">{{ post.post_view.post.name }}</a></h2>
<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body -->
<div style="display: none !important;">Description of your first forum.<br /></div>


<div class="action-bar bar-top">

    <a href="./comment?t={{ post.post_view.post.id }}" class="button" title="Post a reply">
        <span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
    </a>


    {{> components/pagination }}
</div>

{{#if (eq pagination.current_page 1)}}
<div id="p1" class="post has-profile bg2">
    <div class="inner">

        <dl class="postprofile" id="profile1">
            <dt class="has-profile-rank">
                <div class="avatar-container">
                    {{#if this.creator.avatar}}
                    <a href="/view_profile?u={{post.post_view.creator.id}}" class="avatar">
                        <img class="avatar" src="{{post.post_view.creator.avatar}}" alt="User avatar" width="60" height="60">
                    </a>
                    {{/if}}
                </div>
                <a href="/view_profile?u={{post.post_view.creator.id}}" class="username">{{{user_actor_id post.post_view.creator}}}</a>							</dt>

            <dd class="profile-posts"><strong>Posts:</strong> <a href="./search.php?author_id=2&amp;sr=posts">?</a></dd>
            <dd class="profile-joined"><strong>Joined:</strong> {{timestamp_human post.post_view.creator.published}}</dd>
        </dl>

        <div class="postbody">
            <div id="post_content1">

                <h3 class="first">
                    <a href="./viewtopic?p={{post.post_view.post.id}}#p1">{{post.post_view.post.name}}</a>
                </h3>
                <ul class="post-buttons">
                    <li>
                        <a href="./posting.php?mode=quote&amp;p=1" title="Reply with quote" class="button button-icon-only">
                            <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                        </a>
                    </li>
                </ul>
                <p class="author">
                    <a class="unread" href="./viewtopic?t={{post.post_view.post.id}}#p1" title="Post">
                        <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
                    </a>
                    <span class="responsive-hide">by <strong><a href="/view_profile?u={{post.post_view.creator.id}}" class="username">{{{user_actor_id post.post_view.creator}}}</a></strong> &raquo; </span>
                    <time datetime="{{timestamp_machine post.post_view.post.published}}">{{timestamp_human post.post_view.post.published}}</time>
                </p>
                <div class="content">
                    {{#if post.post_view.post.url}}
                        {{#if is_image_url}}
                            <img src="{{post.post_view.post.url}}" />
                            <br />
                            <br />
                        {{else}}
                            <a href="{{post.post_view.post.url}}">{{post.post_view.post.url}}</a>
                            <br />
                            <br />
                        {{/if}}
                    {{/if}}
                    {{{markdown post.post_view.post.body}}}
                </div>
            </div>
        </div>

        <div class="back2top">
            <a href="#top" class="top" title="Top">
                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                <span class="sr-only">Top</span>
            </a>
        </div>

    </div>
</div>
{{/if}}

{{#each post.comments}}
<div id="p{{this.comment.id}}" class="post has-profile bg{{add (mod @index 2) 1}}">
    <div class="inner">

        <dl class="postprofile">
            <dt class="has-profile-rank">
                <div class="avatar-container">
                    {{#if this.creator.avatar}}
                    <a href="/view_profile?u={{this.creator.id}}" class="avatar">
                        <img class="avatar" src="{{this.creator.avatar}}" alt="User avatar" width="60" height="60">
                    </a>
                    {{/if}}
                </div>
                <a href="/view_profile?u={{this.creator.id}}" class="username">{{{user_actor_id this.creator}}}</a>							</dt>

            <dd class="profile-posts"><strong>Posts:</strong> <a href="./search.php?author_id=2&amp;sr=posts">1</a></dd>
            <dd class="profile-joined"><strong>Joined:</strong>{{timestamp_human this.creator.published}}</dd>
        </dl>

        <div class="postbody">
            <h3>
                <a href="./viewtopic?p={{this.post.id}}#p1">{{this.post.name}}</a>
            </h3>
            <ul class="post-buttons">
                <li>
                    <a href="./posting.php?mode=quote&amp;p=1" title="Reply with quote" class="button button-icon-only">
                        <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                    </a>
                </li>
            </ul>
            <p class="author">
                <a class="unread" href="./viewtopic?t={{this.post.id}}&page={{../pagination.current_page}}#p{{this.comment.id}}" title="Post">
                    <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
                </a>
                <span class="responsive-hide">by <strong><a href="/view_profile?u={{this.creator.id}}" class="username">{{{user_actor_id this.creator}}}</a></strong> &raquo; </span>
                <time datetime="{{timestamp_machine this.comment.published}}">{{timestamp_human this.comment.published}}</time>
                {{#if this.comment.parent_id}}
                    <span style="float: right; margin-right: 48px">
                        Responding to <a href="./viewtopic?t={{this.post.id}}&page={{comment_page this.comment.parent_id ../all_comments}}#p{{this.comment.parent_id}}">#{{this.comment.parent_id}}</a>
                    </span>
                {{/if}}
            </p>
            <div class="content">{{{markdown this.comment.content}}}</div>
        </div>

        <div class="back2top">
            <a href="#top" class="top" title="Top">
                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                <span class="sr-only">Top</span>
            </a>
        </div>

    </div>
</div>
{{/each}}

<div class="action-bar bar-bottom">

    <a href="./comment?t={{post.post_view.post.id}}" class="button" title="Post a reply">
        <span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
    </a>

    {{> components/pagination }}
</div>

{{> components/footer }}
