<div id="p{{this.comment.id}}" class="post has-profile bg{{add (mod @index 2) 1}}">
    <div class="inner">

        {{#unless hide_author }}
            {{> components/post_profile user=this.creator site_data=../site_data }}
        {{/unless}}

        <div class="postbody">
            <h3>
                <a href="/view_topic?p={{this.post.id}}#p1">{{this.post.name}}</a>
            </h3>
            {{#if ../site_data.site.my_user.local_user_view.person.id}}
                <ul class="post-buttons">
                    {{#if (eq this.creator.id ../site_data.site.my_user.local_user_view.person.id)}}
                        <li>
                            <a href="/comment_editor?t={{this.post.id}}&edit={{this.comment.id}}" class="button button-icon-only">
                            <i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{{i18n ../site_data "action_edit"}}}</span>
                            </a>
                        </li>
                    {{/if}}
                    <li>
                        <a href="/report?reply={{this.comment.id}}" class="button button-icon-only">
                        <i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">{{{i18n ../site_data "action_report"}}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="comment_editor?t={{this.post.id}}&reply={{this.comment.id}}" class="button button-icon-only">
                        <i class="icon fa-reply fa-fw" aria-hidden="true"></i><span class="sr-only">{{{i18n ../site_data "action_reply"}}}</span>
                        </a>
                    </li>
                </ul>
            {{/if}}
            <p class="author">
                <a class="unread" href="/view_topic?t={{this.post.id}}{{#if ../pagination}}&page={{../pagination.current_page}}{{/if}}#p{{this.comment.id}}">
                <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
                </a>
                <span class="responsive-hide">by <strong><a href="/view_profile?u={{this.creator.id}}" class="username">{{{user_actor_id this.creator}}}</a></strong> &raquo; </span>
                <time datetime="{{timestamp_machine this.comment.published}}">{{timestamp_human this.comment.published}}</time>
                <a href="{{this.comment.ap_id}}"><img src="/assets/images/icons/fedilink.svg" width="16px" height="16px"></a>
                {{#if this.comment.parent_id}}
                    <span style="float: right; margin-right: 100px">
                        {{{i18n ../site_data "responding_to"}}} <a href="/view_topic?t={{this.post.id}}&page={{comment_page this.comment.parent_id ../all_comments}}#p{{this.comment.parent_id}}">#{{this.comment.parent_id}}</a>
                    </span>
                {{/if}}
            </p>
            <div class="content">{{{markdown this.comment.content}}}</div>
        </div>
        {{#if this.creator.bio}}
            <div class="signature">
                {{{markdown this.creator.bio}}}
            </div>
        {{/if}}

        <div class="back2top">
            <a href="#top" class="top">
                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                <span class="sr-only">{{{i18n ../site_data "go_to_top"}}}</span>
            </a>
        </div>

    </div>
</div>
