<!DOCTYPE html>
<html dir="ltr" lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{#if site_data.site.site_view.site.name}}
        <title>{{ site_data.site.site_view.site.name }}</title>
    {{/if}}

    <!--
        phpBB style name: prosilver
        Based on style:   prosilver (this is the default phpBB3 style)
        Original author:  Tom Beddard ( http://www.subBlue.com/ )
        Modified by:
    -->

    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/styles/prosilver/stylesheet.css" rel="stylesheet" />
    <link href="/assets/styles/lemmybb.css" rel="stylesheet" />
    {{#if site_data.site.site_view.site.icon}}
        <link id="favicon" rel="icon" rel="shortcut icon" type="image/x-icon" href="{{site_data.site.site_view.site.icon}}?format=png&thumbnail=64" />
    {{/if}}
</head>
<body id="phpbb" class="nojs notouch section-viewforum ltr">
<div id="wrap" class="wrap">
    <a id="top" class="top-anchor" accesskey="t"></a>
    <div id="page-header">
        <div class="headerbar" role="banner">
            <div class="inner">
                <div id="site-description" class="site-description">
                    <a id="logo" class="logo" href="./" title="Board index">
                        {{#if site_data.site.site_view.site.banner}}
                            <span class="site_logo custome">
                                <img src="{{site_data.site.site_view.site.banner}}" />
                            </span>
                        {{else}}
                            <span class="site_logo"></span>
                        {{/if}}
                    </a>
                    {{#if site_data.site.site_view.site.name }}
                        <h1>{{ site_data.site.site_view.site.name }}</h1>
                    {{/if}}
                    {{#if site_data.site.site_view.site.description }}
                        <p>{{ site_data.site.site_view.site.description }}</p>
                    {{/if}}
                </div>

                <div id="search-box" class="search-box search-header" role="search">
                    <form action="search" method="get" id="search">
                        <fieldset>
                            <input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…" />
                            <button class="button button-search" type="submit" title="Search"><i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{{i18n site_data "search"}}}</span></button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="navbar" role="navigation">
            <div class="inner">
                <ul id="nav-main" class="nav-main linklist" role="menubar">
                    <!--
                    <li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope>
                            <a itemprop="item" href="./" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">Board index</span></a><meta itemprop="position" content="1" />
                        </span>
                    </li>
                    -->

                    {{#if site_data.site.my_user}}
                            <li id="username_logged_in" class="rightside " data-skip-responsive="true">
                                <div class="header-profile dropdown-container">
                                    <a href="/control_panel" class="header-avatar dropdown-trigger dropdown-toggle">
                                        <span class="username">{{{user_actor_id site_data.site.my_user.local_user_view.person}}}</span>
                                    </a>
                                    <div class="dropdown">
                                        <div class="pointer"><div class="pointer-inner"></div></div>
                                        <ul class="dropdown-contents" role="menu">

                                            <li>
                                                <a href="/edit_profile" title="User Control Panel" role="menuitem">
                                                    <i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>{{{i18n site_data "user_control_panel"}}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/view_profile?u={{site_data.site.my_user.local_user_view.person.id}}" title="Profile" role="menuitem">
                                                    <i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{{{i18n site_data "user_profile"}}}</span>
                                                </a>
                                            </li>


                                            <li class="separator"></li>
                                            <li>
                                                <a href="/logout" title="Logout" accesskey="x" role="menuitem">
                                                    <i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{{{i18n site_data "logout"}}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="rightside" data-skip-responsive="true">
                                <a href="/private_messages" role="menuitem">
                                    <i class="icon fa-inbox fa-fw" aria-hidden="true"></i><span>{{{i18n site_data "private_messages"}}} </span>
                                    {{#if site_data.unread_pm_count}}
                                        <strong class="badge">{{site_data.unread_pm_count}}</strong>
                                    {{else}}
                                        <strong class="badge hidden">0</strong>
                                    {{/if}}
                                </a>
                            </li>
                            <li class="dropdown-container dropdown-right rightside" data-skip-responsive="true">
                                <a id="notification_list_button" class="dropdown-trigger dropdown-toggle">
                                    <i class="icon fa-bell fa-fw" aria-hidden="true"></i><span>{{{i18n site_data "notifications"}}} </span>
                                    {{#if site_data.notifications}}
                                        <strong class="badge">{{length site_data.notifications}}</strong>
                                    {{else}}
                                        <strong class="badge hidden">0</strong>
                                    {{/if}}
                                </a>

                                <div id="notification_list" class="dropdown dropdown-extended notification_list">
                                    <div class="pointer"><div class="pointer-inner"></div></div>
                                    <div class="dropdown-contents">
                                        <div class="header">{{{i18n site_data "notifications"}}}</div>

                                        {{#each site_data.notifications}}
                                        <ul>
                                            <li class="">
                                                <a class="notification-block" href="{{this.link}}">
                                                    <img src="./styles/prosilver/theme/images/no_avatar.gif" alt="">
                                                    <div class="notification_text">
                                                        <p class="notification-title"><strong>{{this.title}}</strong> from <span class="username">{{this.from_user.name}}</span>:</p>
                                                        <p class="notification-reference">{{this.reference}}</p>
                                                        <p class="notification-time">{{timestamp_human this.time}}</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        {{else}}
                                        <ul>
                                            <li class="no_notifications">
                                                {{{i18n site_data "notifications_none"}}}
                                            </li>
                                        </ul>
                                        {{/each}}

                                        <div class="footer">
                                            <form action="/mark_all_notifications_read" method="POST">
                                            <a href="#" onclick="this.parentNode.submit()"><span>{{{i18n site_data "notifications_mark_all_as_read"}}}</span></a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                    {{else}}
                    <li class="rightside" data-skip-responsive="true">
                        <a href="./login" title="Login" accesskey="x" role="menuitem"> <i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{{{i18n site_data "login"}}}</span> </a>
                    </li>
                        {{#if site_data.site.site_view.site.open_registration}}
                        <li class="rightside" data-skip-responsive="true">
                            <a href="./register" role="menuitem"> <i class="icon fa-pencil-square-o fa-fw" aria-hidden="true"></i><span>{{{i18n site_data "register"}}}</span> </a>
                        </li>
                        {{/if}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>

    <a id="start_here" class="anchor"></a>
    <div id="page-body" class="page-body" role="main">
        <p class="right responsive-center time">{{{i18n site_data "current_time" site_data.current_date_time}}}</p>
