<dl class="postprofile" id="profile1">
    <dt class="has-profile-rank">
        <div class="avatar-container">
            {{#if user.avatar}}
                <a href="/view_profile?u={{user.id}}" class="avatar">
                <img class="avatar" src="{{user.avatar}}?thumbnail=120" alt="User avatar" width="120" height="120">
                </a>
            {{/if}}
        </div>
        <a href="/view_profile?u={{user.id}}" class="username">{{{user_name user}}}</a>
    </dt>
    <br>
    <dd class="profile-joined"><a href="{{user.actor_id}}">{{{user_actor_id user}}}</a></dd>
    <dd class="profile-joined"><strong>{{{i18n site_data "joined"}}}</strong>{{timestamp_human user.published}}</dd>
</dl>
