{{> components/header }}

    <form action="/login" method="post" id="login" data-focus="username">
        <div class="panel">
            <div class="inner">

                <div class="content">
                    <h2 class="login-title">{{{i18n site_data "login"}}}</h2>

                    <fieldset class="fields1">
                        <dl>
                            <dt><label for="username">{{{i18n site_data "username"}}}</label></dt>
                            <dd><input type="text" tabindex="1" name="username" id="username" size="25" value="" class="inputbox autowidth" /></dd>
                        </dl>
                        <dl>
                            <dt><label for="password">{{{i18n site_data "password"}}}</label></dt>
                            <dd><input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" autocomplete="off" /></dd>
                        </dl>

                        <dl>
                            <dt>&nbsp;</dt>
                            <dd><input type="submit" name="login" tabindex="6" value="Login" class="button1" /></dd>
                        </dl>
                    </fieldset>
                </div>

            </div>
        </div>


        <div class="panel">
            <div class="inner">

                <div class="content">
                    <h3>{{{i18n site_data "register"}}}</h3>
                    <p>{{{i18n site_data "register_info"}}}</p>
                    <hr class="dashed" />
                    <p><a href="/register" class="button2">{{{i18n site_data "register"}}}</a></p>
                </div>

            </div>
        </div>

    </form>

{{> components/footer }}